/* html{
    background: chocolate;
    font-family:  'Roboto',sans-serif;
    color: wheat
} */

* {
    box-sizing: border-box;
  }
  
  .footer {
     width: 100%;
     background-color:lightcoral;
     color: white;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  body {
    font-family:"Courier New", Courier, monospace;
  }
  
  .header {
    background-color: #9933cc;
    color: #ffffff;
    
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .footer-wrapper-links-list{
    font-size: medium;
    line-height: 1.2;
    text-decoration: none;
  }
  
      .navbar{
        text-align: right;
        font-size: medium;
        padding: 10px;
        float: right;
      }
  
      .page_content, .comment_box{
        width: 100%;
        padding: 30px;
        margin: auto;
        border: 2px solid black;
      }
      
        .col-7 .soc{
            padding: 1px;
            margin-top: 1px;
            text-align: center;
            border: none;
        }

        .soc img{
            height:35px; 
            width:35px;
        }

      ul{
        list-style-type: none;
      }
  
      a{
        text-decoration: none;
        padding: 6px;
      }

      .submit-button{
          min-width: 4;
          max-width: 100%;
          margin: auto;
        }
  #comment_area{
      width:100%;
      resize: inherit;
      min-width: 10;
  }

  #commentor_name{
      min-width: 5;
      resize: inherit;
      max-width: 100%;
  }